#root {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
  flex-flow: column;
  touch-action: none;
}

.editor {
  background-color: rgb(60, 230, 210);
  width: 100%;
}

.textcode {
  tab-size: 4ch;
  background-color: #333;
  font-family: inherit;
  margin: 0 0 3px 0;
  color: #888;
  font-size: inherit;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-style: none;
  width: 100%;
  resize: none;
  outline: none;
  height: 50vh;
  touch-action: none;
}

.editor-numbers {
  margin: 0 0 3px 0;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem 0;
  color: #888;
  display: inline-block;
  background-color: #1f1f1f;
  resize: none;
  text-align-last: center;
  width: 2rem;
  height: 50vh;
  border-style: none;
  user-select: none;
  overflow-y: hidden;
}

#lang-hg {
  tab-size: 4ch;
  display: inline-block;
  margin: 0 auto;
  resize: none;
  background-color: #333;
  tab-size: 4;
  max-width: 90vw;
  min-width: 35vw;
  min-height: 15vw;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

#lang-hg span {
  white-space: break-spaces;
}

#lang-hg span.hljs-comment {
  display: inline-block;
  max-width: 90vw;
  white-space: normal;
}

.bot-info {
  border: 2px solid #222;
  border-radius: 1rem;
  overflow-x: hidden;
}

.menu-container {
  display: none;
  position: absolute;
  inset: calc(4vh + 5px) 0;
  width: 100vw;
  height: 80vh;
  background-color: transparent;
  touch-action: none;
}

.menu {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2vh;
  padding: 1rem 0.4rem 0 0;

  inset: 28px 100vw;
  width: 45vw;
  height: 70%;
  min-height: 500px;
  background-color: #181423fa;
  border-radius: 0 0 0 1rem;
  z-index: 5000;
  transition: all 0.3s ease-in;
}

.boton-menu {
  cursor: pointer;
  height: 100%;
  user-select: none;
  background-color: #335;
  border-left: 2px solid #aa22bb;
  padding: 0 0.5rem;
  margin: 0 auto;
  border-radius: 20px;
}

#menu-btn {
  display: none;
}

#menu-btn:checked ~ .menu {
  display: flex;
  transform: translateX(calc(-45vw));
}

#menu-btn:checked ~ .menu-container {
  display: block; 
}

.menu > input, select, p {
  width: 50%;
  max-width: 80px;
}

.github {
  width: 100%;
  height: 25%;
  position: sticky;
  margin: 1rem 0 0 0;

  background-color: #25455376;
  text-align: center;
  overflow-wrap: break-word;
  overflow-y: scroll;
  touch-action: none;
}

.donation {
  width: 100%;
  touch-action: none;
  position: sticky;

  background-color: #223;
  text-align: center;
  overflow-y: scroll;
  touch-action: none;
}

.donation b {
  color: #448966;
  font-size: 1.5rem;
}

.donation > span[id="contract"] {
  background-color: #444
}

@media (max-width: 500px) {

  .textcode {
    padding: 0.5rem 0.2rem;
  }

  .editor-numbers {
    width: 1.5rem;
  }

  button {
    padding: 0.1rem 0.4rem !important;
    font-size: 1rem;
  }

  .menu {
    min-width: 60vw;
  }

  #menu-btn:checked ~ .menu {
    display: flex;
    transform: translateX(calc(-60vw));
  }
  
}

/* highligth modifications by https://discuss.write.as/u/vivgui, thanks for sharing! article: https://discuss.write.as/t/how-to-change-your-code-syntax-highlighting-colors/2283 */

pre code {
  user-select: none;
}

.hljs {
	display: block !important;
    font-size: 0.8rem;
	padding: .5em !important;
	color: #abb2bf !important;
	background: #282c34 !important;
}

.hljs-comment,
.hljs-quote {
	color: #5c6370 !important;
	font-style: italic !important;
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
	color: #c678dd !important;
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
	color: #e06c75 !important;
}

.hljs-literal {
	color: #56b6c2 !important;
}

.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
	color: #98c379 !important;
}

.hljs-built_in,
.hljs-class .hljs-title {
	color: #e6c07b !important;
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
	color: #d19a66 !important;
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
	color: #61aeee !important;
}

.hljs-emphasis {
	font-style: italic !important;
}

.hljs-strong {
	font-weight: 700 !important;
}

.hljs-link {
	text-decoration: underline !important;
}
