@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  font-family: 'VT323', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: #96e6d2ff;

  text-rendering: optimizeSpeed;
}

a {
  font-weight: 500;
  color: #4fffff;
  text-decoration: inherit;
}
a:hover {
  background-color: darkgrey;
  color: #181425;
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  background-color: #272626;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  width: 100vw;
  height: 25px;
  align-items: center;
  border-top: 3px solid #f533aa;
  overflow: hidden;
}

nav input[type="file"] {
  border-style: none;
  border-radius: 0 2rem 0 0;
  outline: none;
  height: 100%;
  font-weight: 600;
  background-color: #463e58;
  user-select: none;
}

nav a {
  height: 100%;
  cursor: pointer;
  user-select: none;
  background-color: #3f3f38;
  padding: 0 0.5rem 0.2rem 0.5rem;
  margin: 0 auto;
  border-radius: 0 0 2rem 2rem;
}

nav > div {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

nav li {
  cursor: pointer;
  height: 100%;
  color: #311;
  user-select: none;
  background-color: #f533aa;
  padding: 0 0.2rem 0 0.4rem;
  margin: 0 auto;
  border-radius: 0 0 0 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #fff;
  }

  body {
    background: #ccc;
  }

  .textcode {
    background-color: #aaa;
    color: #444;
  }

  .editor-numbers {
    background-color: #555;
    color: #888888;
  }
  
  .language-rust {
    background-color: #aaa;
  }

  .editor {
    background-color: #3377ff;
  }

  a:hover {
    background: #777; 
    color: #0016aa;
  }

  li:hover,label:hover {
    background-color: #00a6ff;
  }

  button {
    background: #0045ea;
    color: white;
  }

  button:hover {
    background-color: #0098ea;
  }

  .donation {
    background-color: #aaa;
    color: #444;
  }

  .bot-info {
    background-color: #aaa;
    border: 2px solid #222;
    border-radius: 1rem;
  }

}
